.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
}

.container {
  padding-bottom: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 120rem;
  height: 120rem;
  border: var(--smallBorder);
  overflow: hidden;
}

.some_card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.4rem solid var(--bwHard);
  height: 15rem;
  width: 40rem;
}
