
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container {
    margin: auto;
}

.some_card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.4rem solid var(--bwHard);
    height: 15rem;
    width: 40rem;
}