.backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: var(--background);
  border-radius: 20rem;
  padding: 0.4rem;
  width: max-content;
  position: absolute;
}

.modal:focus {
  outline: none;
}
