.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tabs {
  display: flex;
  position: relative;
  overflow-x: scroll;
  max-width: 100vw;
}

.tabs::-webkit-scrollbar,
.tab::-webkit-scrollbar {
  display: none;
}

.tab {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 1.8rem;
  height: 5.6rem;
  min-width: 8rem;
  width: max-content;
  max-width: 10rem;
  padding: 0 0.6rem;
  border: var(--smallBorder);
  flex-shrink: 0;
  overflow-x: auto;
}

.tab_label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  text-align: center;
  text-wrap: balance;
  padding: 0.8rem 0;
}

.tab.active {
  cursor: auto;
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 0.6rem;
  background-color: rgb(140, 126, 196);
  transition: left 0.2s, width 0.2s;
  animation: appear 1.5s;
}

@keyframes appear {
  0% {
    bottom: -0.6rem;
  }
  100% {
    bottom: 0;
  }
}

.tab_panels {
  display: flex;
  justify-content: center;
  text-align: center;
  border: var(--smallBorder);
  width: 80rem;
  min-height: 20rem;
  height: 100%;
  max-width: 96vw;
}

.tab_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
}
