.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  min-height: 5.6rem;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 100%
  );
  background-color: rgb(91, 64, 91);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarLeft,
.navbarRight {
  flex: 1;
}

@media (max-width: 720px) {
  .navbarLeft,
  .navbarRight {
    flex: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 5vw;
  }
}

@media (prefers-color-scheme: dark) {
}
