.expandable {
  position: relative;
}

.panel {
  position: absolute;
  z-index: 500;
}

.appear {
  animation: appear 0.3s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.closing {
  opacity: 0;
  transition: all 0.3s;
}