.top-left {
  top: -2rem;
  bottom: -2rem;
}

.top-right {
  top: -2rem;
  right: -2rem;
}

.bottom-left {
  bottom: -2rem;
  left: -2rem;
}

.bottom-right {
  bottom: -2rem;
  right: -2rem;
}

.top {
  top: -2.5rem;
}

.right {
  right: -5rem;
}

.bottom {
  bottom: -2.5rem;
}

.left {
  left: -5rem;
}
