.dropdown_menu_wrapper {
  position: relative;
}

.dropdown_menu_wrapper > button {
  all: unset;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.6rem;
  width: 7.2rem;
  font-size: 1.8rem;
  background-color: rgb(69, 59, 71);
  border: 0.05rem solid light-dark(black, rgb(140, 140, 140));
  color: white;
}

.dropdown_menu_wrapper > button:focus-visible {
  outline: 0.1rem solid blue;
  outline-offset: 0.2rem;
}

.dropdown_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  padding: 0.2rem 0;
  background-color: light-dark(rgb(245, 245, 245), rgb(95, 95, 95));
  color: light-dark(black, white);
  border: 0.03rem solid light-dark(black, rgb(200, 200, 200));
  z-index: 1000;
  left: 50%;
}

.dropdown_menu a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu li,
.dropdown_menu .space {
  width: 16rem;
}

.dropdown_menu .space {
  height: 1.2rem;
}

.dropdown_menu li {
  border-radius: 0.4rem;
  height: 2.4rem;
  margin: 0 0.2rem;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown_menu > li {
  animation: appear 0.2s;
}

@keyframes appear {
  0% {
    height: 0;
    opacity: 0;
  }
  80% {
    height: 3rem;
  }
  100% {
    height: 2.4rem;
    opacity: 1;
  }
}

.closing .dropdown_menu > li {
  animation: close 0.15s forwards;
}

.closing .dropdown_menu {
  z-index: 999;
}

@keyframes close {
  0% {
    height: 2.4rem;
    opacity: 0;
  }
  20% {
    height: 3rem;
  }
  100% {
    height: 0rem;
    opacity: 0;
  }
}

.li_content_wrapper,
.dropdown_menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  user-select: none;
  height: 100%;
  width: 100%;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
  position: relative;
}

.submenu_open:not(.closing) > .li_content_wrapper {
  background-color: light-dark(rgb(150, 150, 150), rgb(60, 60, 60));
  color: light-dark(white, rgb(255, 255, 255));
}

.submenu_open:not(.closing) > .li_content_wrapper .right_arrow {
  fill: white;
}

.dropdown_menu li:focus > .li_content_wrapper {
  outline: none;
  background-color: rgb(101, 88, 103);
  color: light-dark(white, white);
}

.dropdown_menu li:focus,
.dropdown_menu a:focus {
  outline: none;
  background-color: rgb(101, 88, 103);
  color: light-dark(white, white);
}

.li_content_wrapper :focus .right_arrow {
  fill: white;
}

.right_arrow {
  height: 50%;
  position: absolute;
  right: 0.8rem;
}

.flip_arrow .right_arrow {
  transform: rotateZ(180deg);
}

.dropdown_menu .line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.1rem;
  margin: 0.4rem 5%;
  background-color: light-dark(rgb(180, 180, 180), rgb(60, 60, 60));
}

.submenu {
  top: -0.6rem;
}

.submenu:not(.left) {
  left: 100%;
}

.left {
  left: -103%;
}
