.tooltip_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: max-content;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 100;
}

/*Arrow pointing LEFT*/
.tooltip:after {
    border-width: 4px;
}
.tooltip:before {
    border-width: 8px;
}
 
.tooltip:after, .tooltip:before {
    right: 100%;
    top: 50%;
}
.tooltip:after {
    border-color: transparent #f4f4f4 transparent transparent ;
    margin-top: -4px;
}
.tooltip:before {
    border-color: transparent #1fb4ab transparent transparent ;
    margin-top: -8px;
}

.tooltip.appear {
  opacity: 1;
  transition: opacity 0.5s;
}

.tooltip_message {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.6rem;
  text-align: center;
}

.tooltip_arrow,
.tooltip_arrow_background {
  position: absolute;
}

.tooltip[data-direction="top"] .tooltip_arrow_background {
  top: 99.5%;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.tooltip[data-direction="top"] .tooltip_arrow {
  top: 100%;
}

.tooltip[data-direction="right"] .tooltip_arrow_background {
  right: 99.5%;
  clip-path: polygon(100% 100%, 100% 0, 0 50%);
}

.tooltip[data-direction="right"] .tooltip_arrow {
  right: 100%;
}

.tooltip[data-direction="bottom"] .tooltip_arrow_background {
  bottom: 99.5%;
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
}

.tooltip[data-direction="bottom"] .tooltip_arrow {
  bottom: 100%;
}

.tooltip[data-direction="left"] .tooltip_arrow_background {
  left: 99.5%;
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}

.tooltip[data-direction="left"] .tooltip_arrow {
  left: 100%;
}

/*
  .tooltip[data-direction="right"] .tooltip_arrow {
    right: 100%; 
    top: 50%; 
    transform: translateY(-50%);
    clip-path: polygon(100% 0%, 0% 50%, 100% 100%); 
  }
    */
