.navbar {
  --itemBackground: rgb(140, 95, 139);
  --itemHover: rgb(187, 119, 186);
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 5.6rem;
  background: var(--navbarBackground);
  background-color: var(--navbarBackgroundColor);
  position: sticky;
  top: 0;
  z-index: 1;
}

.navMenu {
  display: flex;
  justify-content: center;
}

.navItem {
  min-width: 11.2rem;
  min-width: 8.8rem;
  width: 9rem;
  height: 5.6rem;
  font-size: 1.8rem;
  border-left: 0.05rem solid black;
  font-weight: 600;
  background-color: var(--itemBackground);
  color: rgb(255, 255, 255);
  list-style: none;
}

.navItem:last-child {
  border-right: 0.05rem solid black;
}

.navItem:hover,
.active {
  background-color: var(--itemHover);
}

.navItem > a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 0.2rem #000000;
}

.menuButton {
  display: none;
}

@media (max-width: 720px) {
  .navbar {
    justify-content: space-between;
    padding: 0 5vw;
  }

  .menuButton {
    all: unset;
    box-sizing: border-box;
    display: flex;
    justify-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 5.6rem;
    width: max-content;
    padding: 0 1.2rem;
    background-color: transparent;
    cursor: pointer;
  }

  .navMenu {
    visibility: hidden;
    flex-direction: column;
    position: absolute;
    top: 5.6rem;
    background-color: var(--navbarBackgroundColor);
    left: 0;
  }

  .navMenu.open {
    visibility: visible;
  }

  .navMenu.closing {
    transition: visibility 0.13s;
  }

  .navItem {
    width: 18rem;
    height: 0rem;
    border: none;
    border-top: 0.05rem solid black;
  }

  .navItem:last-child {
    border-bottom: 0.05rem solid black;
  }

  .navItem.open {
    height: 5.6rem;
    opacity: 1;
    transition: height 0.2s;
  }

  .navItem.closing {
    width: 18rem;
    height: 0rem;
    opacity: 0;
    transition: height 0.15s, opacity 0.15s;
  }

  .menuIcon {
    height: 60%;
    filter: invert();
    background-color: transparent;
    transition: transform 0.2s;
  }

  .menuIcon.open {
    transition: transform 0.2s;
    transform: rotateZ(270deg);
  }
}

@media (prefers-color-scheme: dark) {
}
