.breadcrumb {
  display: flex;
  column-gap: 0.8rem;
  font-size: 2rem;
  padding: 0.8rem 0.6rem;
  max-width: 100vw;
  flex-wrap: wrap;
  overflow-x: hidden;
}

.segment {
  display: flex;
  column-gap: 0.8rem;
  white-space: nowrap;
}

.breadcrumb a {
  color: blue;
}
