.to_do {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
  width: min(60rem, 96vw);
}

.icon {
  height: 2rem;
  width: auto;
}

.to_do > * {
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.8rem;
}

.delete_tasks_wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons_wrapper {
  display: flex;
  column-gap: 0.8rem;
}

/* Task list styles */
.task_list {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.task_wrapper {
  display: flex;
}

.selection_wrapper {
  padding: 1.2rem 1.2rem 0;
}

.checkbox {
  cursor: pointer;
  height: 1.6rem;
  width: 1.6rem;
}

.checkbox:checked {
  accent-color: rgb(139, 139, 139);
}

/* Task styles */
.task {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.task_full {
  border: var(--smallBorder);
  border-radius: 0.4rem;
  padding: 0.8rem;
  background-color: var(--wbHard);
  z-index: 1;
}

.description_wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}

.description {
  padding: 1.2rem 0.6rem;
}

.task_footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.task_controls {
  display: flex;
  column-gap: 0.6rem;
}

.last_updated {
}

/* New task form */
.new_task_wrapper {
  width: 30rem;
  padding: 1.6rem 0.8rem 0.8rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.error {
  color: brown;
  font-size: 1.4rem;
  padding-left: 0.8rem;
}
