.hoverMenuWrapper {
  position: relative;
}

.hoverMenu {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: max-content;
  opacity: 0;
  margin: 0;
  padding: 0;
  transition: opacity 0.4s;
  z-index: 100;
}

.hoverMenu.appear {
  opacity: 1;
  transition: opacity 0.3s;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
