.context_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.4rem;
  padding: 0.2rem;
  background-color: light-dark(rgb(245, 245, 245), rgb(95, 95, 95));
  color: light-dark(black, white);
  border: 0.03rem solid light-dark(black, white);
  z-index: 1000;
}

.context_menu.fixed {
  position: fixed;
}

.context_menu li,
.context_menu .blank {
  width: 20rem;
}

.context_menu .blank {
  height: 1.2rem;
}

.context_menu li {
  border-radius: 0.4rem;
  height: 2.4rem;
  list-style: none;
  position: relative;
}

.context_menu li > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  user-select: none;
  height: 100%;
  padding: 0 0.8rem;
  border-radius: 0.4rem;
}

.context_menu li.submenu_open > div {
  background-color: light-dark(rgb(150, 150, 150), rgb(60, 60, 60));
  color: light-dark(white, rgb(255, 255, 255));
}

.context_menu li.submenu_open > div .right_arrow {
  fill: white;
}

.context_menu li > div:hover {
  background-color: rgb(40, 40, 255);
  color: light-dark(white, white);
}

.context_menu li:hover {
  background-color: rgb(40, 40, 255);
  color: light-dark(white, white);
}

.context_menu li > div:hover .right_arrow {
  fill: white;
}

.right_arrow {
  height: 50%;
}

.flip_arrow .right_arrow {
  transform: rotateZ(180deg);
}

.context_menu .line {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.1rem;
  margin: 0.4rem 5%;
  background-color: light-dark(rgb(180, 180, 180), rgb(60, 60, 60));
}

.submenu {
  top: -0.6rem;
}

.submenu:not(.left) {
  left: 100%;
}

.left {
  right: 100%;
}
